*{
    margin: 0;
    padding: 0;
}
/*与bootstrap：font-size冲突*/
html{
    font-size: 100px!important;
}
body{
    font-size: .13rem;
    color: #333333;
    font-family: Regular;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
