html {
    font-size: 100px;
}
body {
    background-color: #f7f7f7;
}
/*清除默认样式*/
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/*头部开始*/
.Details-list-Box header .Details-list-top {
    width: 100%;
    height: .44rem;
    color: #fff;
    font-size: .18rem;
    position: relative;
    text-align: center;
    line-height: .44rem;
    background-color: #F9B62C;
}
.Details-list-Box header .Details-list-top img {
    width: .24rem;
    height: .24rem;
    position: absolute;
    left: .12rem;
    top: .1rem;
}
.Details-list-Box header .Details-list-top-TAB {
    width: 100%;
    height: .6rem;
    background-color: #F7F7F7;
}
.Details-list-Box header .Details-list-top-TAB ul {
    width: 100%;
    line-height: .62rem;
    display: flex;
    justify-content: space-around;
}
.Details-list-Box header .Details-list-top-TAB ul li {
    width: 18%;
    height: .5rem;
    text-align: center;
}
.active-li {
    border-bottom: .02rem solid #F9B62C;
}
.Details-list-Box header .Details-list-top-TAB ul li a{
    color: #4E4E4E;
    font-size: .15rem;
}
.Details-list-Box section .qijiandian {
    width: 95%;
    height: 1.5rem;
    margin: .1rem;
    border-radius: .05rem;
    font-size: .13rem;
    position: absolute;
    background-color: #fff;
}
.Details-list-Box section .qijiandian .Details-ICON2 {
    width: .24rem;
    height: .24rem;
    margin: .12rem .04rem 0 .12rem;
    position: absolute;
    top: -.03rem;
    left: .08rem;
}
.Details-list-Box section .qijiandian .Details-spans1 {
    position: absolute;
    top: .11rem;
    left: .48rem;
}
.Details-list-Box section .qijiandian .Details-p1,.Details-pp1,.Details-pp2,.Details-pp3,.Details-pp4 {
    position: absolute;
    right: .1rem;
    top: .1rem;
    font-size: .13rem;
}
.Details-list-Box section .qijiandian .Details-pp1,.Details-pp2,.Details-pp3,.Details-pp4 {
    display: none;
}
.Details-list-Box section .qijiandian .left {
    width: 1rem;
    height: 1rem;
}
.Details-list-Box section .qijiandian .Details-spimg {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: .5rem;
    left: 0;
}
.Details-list-Box section .qijiandian .Details-p2 {
    width: 50%;
    position: absolute;
    right: .6rem;
    top: .5rem;
}
.Details-list-Box section .qijiandian .Details-spans2 {
    color: #ed1b19;
    font-size: .16rem;
    position: absolute;
    bottom: .34rem;
    left: 1.13rem;
}
.Details-list-Box section .qijiandian .Details-spans2 i {
    font-style: normal;
}
.Details-list-Box section .qijiandian .Details-p3 {
    position: absolute;
    left: 1.15rem;
    bottom: 0;
    color: #999;
    font-size: .12rem;
}