@font-face {
    font-family: 'Medium';
    src: url("../fonts/PingFang Medium.ttf");
}
@font-face {
    font-family: 'Regular';
    src: url("../fonts/PingFang Regular.ttf");
}
@font-face {
    font-family: 'Bold';
    src: url("../fonts/PingFang Bold.ttf");
}